<a href="https://colab.research.google.com/github/jesse-venson/Cognitive/blob/main/cognitive_assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#QUESTION 1
L=[10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)
L.sort()
print("Sorted in ascending order:", L)
L.sort(reverse=True)
print("Sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
#QUESTION 2
scores = (45,89.5,76,45.4,89,92,58,45)
print('Highest score is: ',max(scores))
print('Highest score present at index: ',scores.index(max(scores)))
print('Lowest score is: ',min(scores))
print('Lowest score present for these many times: ',scores.count(min(scores)))
reversed_list = list(reversed(scores))
print('Reversed list: ',reversed_list)
score_to_check=76
if score_to_check in scores:
    print(f'{score_to_check} is present in the tuple.')
else:
    print(f'{score_to_check} is not present in the tuple.')

Highest score is:  92
Highest score present at index:  5
Lowest score is:  45
Lowest score present for these many times:  2
Reversed list:  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
76 is present in the tuple.

In [3]:
#QUESTION 3
import random
number = [random.randint(100, 900) for i in range(100)]
print(number)

odd_no = []
eve_no = []
pr_no = []

def is_prime(n):
    if (n <= 1):
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True


for num in number:
    if num % 2 == 0:
        eve_no.append(num)
    else:
        odd_no.append(num)

    if is_prime(num):
        pr_no.append(num)

print("Odd Numbers:",odd_no )
print("Even Numbers:", eve_no)
print("Prime Numbers:", pr_no)
print("Count of Odd Numbers:", len(odd_no))
print("Count of Even Numbers:", len(eve_no))
print("Count of Prime Numbers:", len(pr_no))

[153, 102, 526, 138, 137, 750, 299, 234, 854, 654, 290, 773, 179, 176, 757, 809, 419, 704, 865, 350, 408, 412, 438, 431, 281, 228, 297, 468, 688, 238, 488, 856, 431, 840, 458, 361, 809, 532, 628, 705, 358, 589, 203, 414, 521, 610, 600, 128, 337, 875, 559, 709, 328, 177, 340, 429, 326, 725, 533, 319, 727, 343, 418, 642, 443, 402, 554, 404, 186, 257, 849, 544, 248, 774, 820, 117, 430, 348, 567, 880, 706, 830, 576, 687, 371, 203, 395, 234, 282, 732, 216, 788, 859, 153, 130, 723, 783, 499, 348, 828]
Odd Numbers: [153, 137, 299, 773, 179, 757, 809, 419, 865, 431, 281, 297, 431, 361, 809, 705, 589, 203, 521, 337, 875, 559, 709, 177, 429, 725, 533, 319, 727, 343, 443, 257, 849, 117, 567, 687, 371, 203, 395, 859, 153, 723, 783, 499]
Even Numbers: [102, 526, 138, 750, 234, 854, 654, 290, 176, 704, 350, 408, 412, 438, 228, 468, 688, 238, 488, 856, 840, 458, 532, 628, 358, 414, 610, 600, 128, 328, 340, 326, 418, 642, 402, 554, 404, 186, 544, 248, 774, 820, 430, 348, 880, 706, 830, 576, 234, 282, 732, 216, 788, 130, 348, 828]
Prime Numbers: [137, 773, 179, 757, 809, 419, 431, 281, 431, 809, 521, 337, 709, 727, 443, 257, 859, 499]
Count of Odd Numbers: 44
Count of Even Numbers: 56
Count of Prime Numbers: 18

In [4]:
#QUESTION 4
A={34,56,78,90}
B={78,45,90,23}
print("The unique scores achieved by both teams: ",A.union(B))

print("The scores that are common to both teams: ",A.intersection(B))

print("The scores that are exclusive to each team: ",A^B)

if A.issubset(B):
  print("Set A is subset of the set B")
else:
  print("Set A is not the subset of the set B")
if B.issuperset(A):
  print("Set B is superset of the set A")
else:
  print("Set B is not the superset of the set A")

searching_ele=int(input("Enter the search element: "))
if searching_ele in A:
  print("The search element is present in the set")
else:
  print("The search element is not present in the set")

The unique scores achieved by both teams:  {34, 45, 78, 23, 56, 90}
The scores that are common to both teams:  {90, 78}
The scores that are exclusive to each team:  {34, 45, 23, 56}
Set A is not the subset of the set B
Set B is not the superset of the set A
Enter the search element: 78
The search element is present in the set

In [5]:
#QUESTION 5
sample_dict={
    "name":"venson",
    "age":18,
    "salary":5000,
    "city":"New York"
}
print("The original dictionary is: ")
print(sample_dict)

sample_dict.pop("city")
sample_dict["location"]="New York"
print()
print("After updation the new dictionary is : ")
print (sample_dict)

The original dictionary is:
{'name': 'venson', 'age': 18, 'salary': 5000, 'city': 'New York'}

After updation the new dictionary is :
{'name': 'venson', 'age': 18, 'salary': 5000, 'location': 'New York'}